<?php
# set credentials and copy file to .credentials.php
return [
    'dev' => [
        'credentials' => [
            'key' => 'my key',
            'secret' => 'my secret'
        ],
        'version' => 'latest',
        'region' => 'region',
        'bucketName' => 'my bucket name',
    ],

    'prod' => [
        'credentials' => [
            'key' => 'other key',
            'secret' => 'other secret'
        ],
        'version' => 'latest',
        'region' => 'region',
        'bucketName' => 'bucket name',
        'cloudFrontDomainName' => 'https://mycloudfrondomain.cloudfront.net',
    ],
    'default' => 'dev'
];

