# set credentials and copy file to .credentials
location1:
    credentials:
        key: 'my key to location 1'
        secret: 'my secret to location 1'
    version: 'latest'
    region: 'region of location 1'

location2:
    credentials:
        key: 'my key to location 2'
        secret: 'my secret to location 2'
    version: 'latest'
    region: 'my region to location 2'

default: 'location1'

